#version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: toolswap-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=toolswap_db_1
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: